@model IEnumerable<WebApp19.Models.Mphasis>

@{
    ViewData["Title"] = "Mphasis Employee Details";
}
@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}
<div class="container p-4">
    <div class="row p-3">
        <div class="col-6">
            <h1>Employees</h1>
        </div>
        <div class="col-6">
            <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Mphasis">Create New</a>
        </div>
    </div>

</div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Employee Id
            </th>
            <th>
                Employee Name
            </th>
            <th>
                Location
            </th>
            <th>
                Joinig date
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in Model)
        {
        <tr>
                <td>
                    @list.Id
                </td>
            <td>
                @list.Name
            </td>
             <td>
                @list.Loction
            </td>
            <td>
                @list.joinDate
            </td>
            <td role="group">
                    <a asp-action="Edit" asp-controller="Mphasis" asp-route-id="@list.Id"><i class="bi bi-pen"></i></a>
                    <a asp-action="Delete" asp-controller="Mphasis" asp-route-id="@list.Id"><i class="bi bi-trash3-fill"></i></a>

            </td>
        </tr>
        }
    </tbody>
</table>
